#container{
    background-color: rgb(212, 235, 235);
    width: 650px;
    min-width: 550px;
    border-radius: 30px;
    height: 650px;
    text-align: center;
    padding: 15px 0px;
    position: relative;
}

#container > p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

