div{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    top:50px;
    left: 200px;
    display: flex;
    flex-direction: column;
}

span{
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(178, 126, 226);
    color: white;
    border: 10px solid white;
    font-size: 50px;
    position: absolute;
    right: 5px;
    top: -20px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
