.container{
    background-color: rgb(141, 165, 157);
    width: 1100px;
    height: 600px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* align-items: flex-start; */
}

.container div{
    background-color: blueviolet;
    border: 2px solid yellow;
    width: 96px;
    height: 96px;
}

#box5{
    align-self: flex-end;
}

ul{
    color:red;
}