[href]{
    color: darkmagenta;
    font-size: 30px;
}

a[href]{
    background-color: gray;
}

a[target="_blank"]{
    text-decoration: none;
    background-color: bisque;
}
ul{
    color: red;
}

p[href]{
    text-align: center;
}

[thuocTinhTuTao = "helloworl"]{
    color: red;
    text-align: center;
    background-color: yellow;
}
[id="hi"]{
    text-decoration: underline;
    font-style: italic;
}