#box1{
    width: 250px;
    height: 250px;
    background-color: rgb(196, 196, 17);
    padding: 25px;
    border: 20px solid red;
    outline: 25px solid blue;
    margin: 50px;
    outline-offset: 90px;
}
ul{
    color: red;
}