h1{
    color: darkcyan;
    text-align: center;
}

h1 + p, .title + p{
    text-decoration: underline;
    font-size: 30px;
    color: deeppink;
    text-align: center;
}

.title + p{
    font-size: 20px;
    color: darkorange;
}

h1 ~ p, h1 ~ div{
    background-color: lightgray;
}

div{
    border: 1px solid black;
    padding: 10px;
}

div > p{
    color: green;
    font-weight: bold;
    text-align: center;
}

hr + ul{
    color: red;
}