.container{
    background-color: rgb(14, 128, 128);
    height: 700px;
    width:fit-content;
    display: grid;
    /* display: inline-grid; */

    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(4, 100px);

    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    /* gap: 20px; */
}

.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#box1{
    background-color: rgb(95, 192, 31);

    /* grid-row-start: 1;
    grid-row-end: 2; */

    /* grid-column-start: 3;
    grid-column-end: 6; */
    grid-column: 3 / 5;
}

#box2{
    background-color: bisque;

    /* grid-row-start: 1;
    grid-row-end: -2; */
    /* grid-row-end: 3; */
    /* grid-column-start: 1;
    grid-column-end: 3; */

    grid-area: 1 / 1 / -2 / 3;
}

#box3{
    background-color: rgb(224, 62, 176);
}

#box4{
    background-color: rgb(128, 128, 128);
    /* grid-row-start: 2; */
    /* grid-row-start: -3;
    grid-row-end: 4; */
    grid-row: -3 / 4;;

    grid-column-start: 3;
    grid-column-end: 5;
}

#box5{
    background-color: rgb(223, 87, 87);

    grid-row-start: -2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
}

#box6{
    background-color: rgb(214, 140, 54);
}

#box10{
    background-color: rgb(54, 214, 94);
    grid-column: span 6;
}

ul{
    color: red;
}