.box, .some{
    width: 200px;
    height: 200px;
}

.header{
    background-color: yellow;
    position: relative;
}

.container{
    position: relative;
    background-color: bisque;
    width: 50%;
    top:30px;
    left: 50px;
}

.box1{
    background-color: blue;
}

.box2{
    background-color: green;
    position: absolute;
    left: 55px;
    bottom: 20px;
    margin-bottom: 20px;
}

.box3, .some{
    background-color: blueviolet;
}

.some{
    margin: 50px 360px;
}

ul{
    color: red;
}