#divMain, #divMain2{
    padding: 25px;
    border: 5px solid darkgoldenrod;
}
div div{
    background-color: bisque;
    padding: 15px;
    border: 2px solid darkgreen;
    border-radius: 20px 20px;
}

#divMain p {
    text-decoration: underline;
    color:  blue;
}

#divMain2 p{
    text-align: center;
}

.khoi p{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div a{
    color: darkgreen;
}

div > a{
    text-decoration: none;
}

#divMain > p {
    text-align: center;
}

#final{
 color: red;
}