div{
    width: 300px;
    height: 300px;
    background-color: orange;

    border-width: 35px;
    border-color: aqua red green;
    border-style: solid;

    border-radius: 20px 50px 150px 20px;
}

div + ul{
    color: red;
}