ul{
    color: red;
}

strong{
    background-color: yellow;
    /* padding: 100px; */
    /* border: 100px solid black; */
    margin: 40px;

    /* display: block; */
    display: inline-block;
}

.s1{
    margin: 0px;
    margin-bottom: 100px;
}