.header{
    background-color: bisque;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.header > ul{
    list-style: none;
    /* display: flex;
    justify-content: end; */
    text-align: end;
    margin: 0px;
}

.header ul li{
    /* padding: 20px 15px; */
    display: inline-block;
}

h1{
    margin-top: 60px;
    text-align: center;
}

#mess{
    width: 35px;
    position: fixed;
    bottom: 25px;
    right: 10px;
}
a{
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
}
a[href="#final"]{
    color: darkred;
}

#final{
    color: red;
}