.container{
    background-color: rgb(61, 145, 145);
    height: 700px;
    display: flex;

    /* justify-content: stretch; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
}

.container > div{
    background-color: brown;
    /* border: 2px solid yellow; */
    /* width: 96px; */
    /* height: 96px; */
    /* flex-grow: 1; */
}

ul{
    color: red;
}