.box{
    width: 250px;
    height: 250px;
    border: 20px solid black;
    margin-bottom: 30px;

    box-sizing: content-box;
}

#box2{
    padding: 15px;
    box-sizing: border-box;
}

ul{
    color: red;
}