.container{
    width: 800px;
    height: 800px;
    background-color: aqua;
    display: flex;

    /* justify-content: flex-end; */

    /* flex-wrap: nowrap; */
    flex-wrap: wrap;

    /* align-content: stretch; */
    /* align-content: center; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: space-evenly; */

    align-items: flex-end;
}

.container div{
    background-color: red;
    width: 200px;
    /* height: 100px; */
    border: 1px solid white;
}