.box{
    width: 250px;
    height: 250px;
    border: 10px solid black;
    background-color: lightcoral;
}

#box1{
    margin-bottom: 100px;
}

#box2{
    margin-top: 80px;
}

ul{
    color: red;
}

.item{
    background-color: yellow;
    color: red;
    padding: 5px;
    border: 1px solid red;
}

.item1{
    margin-right: 10px;
}

.item2{
    margin-left: 20px;
}