h1{
    text-align: center;
    color: red;
}

h1 > a{
    color: darkorange;
}

h1 + div{
    padding: 20px 5px;
    border-radius: 20px 20px;
    background-color: beige;
    border: 1px solid black;
}

#firstP{
    color: darkgreen;
}

div p{
    text-decoration: underline;
}

.section{
    margin-top: 10px;
    height: 250px;
    width: 250px;
    background-color: pink;
    border: 1px solid black;
}

.section > p{
    color: red;
}

hr ~ ul{
    color: red;
}

.section.custom{
    margin: auto auto;
    border-radius: 10px 10px;
    opacity: 0.5;
}

p.result{
    background-color: yellow;
}

.result{
    font-size: 20px;
}