.container{
    background-color: rgb(141, 165, 157);
    width: 1000px;
    height: 600px;

    display: flex;
}

.container > div{
    background-color: blueviolet;
    /* border: 2px solid yellow; */
    /* width: 100px; */
    /* height: 96px; */
}

#box1,#box2{
    flex-grow: 1;
}

#box3{
    flex-grow: 2;
}

ul{
    color: red;
}