.box{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border: 20px solid darkgreen;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 20px 1px;
}

.box.box2{
    background-color: lightblue;
    margin-top: 0px;
    margin-left: 290px;
    border-right-width: 50px;
}

.box.box3{
    margin-top: 0px;
    margin-left: 590px;
}

hr ~ ul {
    color: red;
}