.box{
    width: 200px;
    height: 200px;
}

.box1{
    background-color: red;
}

.box2{
    background-color: blue;
    position: relative;
    left: 30px;
    top: 50px;
}

.box3{
    background-color: green;
}

ul{
    color: red;
}